/*--------------------------------------------------------------
1.0 Main Website Colors
--------------------------------------------------------------*/

// We use these as default colors throughout
   $primary-color: #008CBA;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

$base-color: #2e3037;
$dark-base-color: darken( $base-color, 4% );
$light-base-color: lighten( $base-color, 10% );

/*--------------------------------------------------------------
2.0 Content Colours
--------------------------------------------------------------*/

$green: #82CD2B;
$blue: #008AFF;
$purple: #AA58E9;
$orange: #FC5A20;

.green {
    color: $green;
}
.orange {
    color: $orange;
}
.blue {
    color: $blue;
}
.purple {
    color: $purple;
}