/*
 * WP Foundation Theme Color Variables
 */

/*--------------------------------------------------------------
1.0 Main Website Colors
--------------------------------------------------------------*/


// We use these as default colors throughout
$primary-color: #FC5A20; // #008CBA
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

$kebo-background: #181818;
$kebo-foreground: #222;

$grey: #343740;
$dark-grey: darken( $grey, 4% );
$light-grey: lighten( $grey, 10% );

$green: #82CD2B;
$blue: #008AFF;
$purple: #AA58E9;
$orange: #FC5A20;

.green {
    color: $green;
}
.orange {
    color: $orange;
}
.blue {
    color: $blue;
}
.purple {
    color: $purple;
}
.brown {
    color: #fff;
}