/*
 * WP Foundation Theme Styles
 */

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
1.0 Main Layout
--------------------------------------------------------------*/

body {

}
.menu-area {

}
.header-area {

}
.site-main {

}
.content-area {
    background: $ghost;
}
.site-content {
    padding: em-calc( 40 ) 0;
}
.site-footer {

}
.widget-area {

}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/

.header-area {
    background: #666;
}

.site-header {

    .site-title {
        margin: em-calc( 40 ) 0;
        text-align: center;

        a {
            color: #fff;
        }
    }

    .site-description {
        margin: em-calc( 40 ) 0;
        text-align: center;
        color: #ccc;
    }

}

/*--------------------------------------------------------------
3.0 Posts
--------------------------------------------------------------*/

article.post,
article.page {
    position: relative;
    padding: em-calc( 20 ) em-calc( 10 );
}

article.post {

    .entry-thumbnail {
        border: 1px solid $gainsboro;
        border-bottom: none;
    }

    .entry-image {
        margin-top: em-calc( 10 );
        margin-bottom: em-calc( 20 );
    }

    .entry-inner {
        border: 1px solid $gainsboro;
        padding: em-calc( 18 );
        background: #fff;

        &.with {
            border-top: none;
        }
    }

    .entry-header {

        margin-bottom: em-calc( 20 );

      .entry-title {
          margin: 0;
      }

      .entry-meta {
          font-size: rem-calc( 14 );
      }

    }

    .entry-content {
        margin-top: em-calc( 20 );
    }

    .entry-footer {

        font-size: rem-calc( 14 );
        margin-bottom: em-calc( 8 );

      span {

          margin-right: em-calc( 8 );

        i.fa {
            margin-right: em-calc( 2 );
        }

        i.fa-comments,
        i.fa-cog {
            margin-right: em-calc( 6 );
        }

        i {
            color: $monsoon;
        }

      }

    }

    &:first-of-type {
        padding-top: 0;
        border-top: 0;
    }

}

.navigation.post-navigation,
.navigation.paging-navigation {

    padding: 0 em-calc( 25 );
    margin-bottom: em-calc( 20 );
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;

    .nav-previous,
    .nav-next {
        width: 50%;
    }

    .nav-previous {
        float: left;
        text-align: left;
    }

    .nav-next {
        float: right;
        text-align: right;
    }

}

.navigation.paging-navigation {
    padding-top: em-calc( 20 );
}

/*--------------------------------------------------------------
4.0 Comments
--------------------------------------------------------------*/

.comments-area {

    padding: 0 em-calc( 10 );

    .comments-title {
        margin-bottom: em-calc( 20 );
    }

    code {
        background: darken( #fff, 3% );
        color: darken( #fff, 40% );
        border: 1px solid darken( #fff, 20% );
    }

    .form-allowed-tags {
        font-size: rem-calc( 14 );
    }

    .form-submit #submit {
        @include button( rem-calc(12) );
    }

    .comment-list {

        list-style: none;
        margin-left: 0;

        .children {

            list-style: none;
            margin-left: em-calc( 20 );

        }

        .comment-body {

            background: $white-smoke;
            border: 1px solid $gainsboro;
            color: darken( #fff, 40% );
            margin-bottom: em-calc( 20 );
            padding: em-calc( 20 );
            position: relative;

            .comment-meta {

               overflow: hidden;

                .comment-author {

                    border: none;
                    padding: 0 0 0 em-calc( 74 );
                    margin-bottom: em-calc( 0 );
                    display: block;
                    min-height: 25px;
                    line-height: 1.1em;

                    .fn {
                        font-weight: bold;
                        color: $primary-color;
                    }

                    .says {
                        display: none;
                    }

                    img {
                        position: absolute;
                        top: em-calc( 18 );
                        left: em-calc( 18 );
                        max-width: 50px;
                    }

                }

                .comment-metadata {

                    display: block;
                    padding-left: em-calc( 74 );
                    min-height: 25px;
                    margin-bottom: em-calc( 20 );

                    font-size: rem-calc( 12 );

                    a {
                        color: $monsoon;
                    }

                    a:hover,
                    a:focus,
                    a:active {
                        color: $charcoal;
                    }

                    .edit-link {

                        position: absolute;
                        bottom: em-calc( 18 );
                        right: em-calc( 18 );
                        font-size: rem-calc( 14 );

                        a:before {
                            font-family: FontAwesome;
                            content: "\f013"; // Font-Awesome .fa-reply Icon
                            margin-right: em-calc( 8 );
                        }

                    }

                }

            }

        }

        .reply {

            font-size: rem-calc( 14 );

            a:before {
                font-family: FontAwesome;
                content: "\f112"; // Font-Awesome .fa-reply Icon
                margin-right: em-calc( 8 );
            }

            a {
                color: #777;
            }

            a:hover,
            a:focus,
            a:active {
                color: #555;
            }

        }

    }

}

/*--------------------------------------------------------------
5.0 Sidebar
--------------------------------------------------------------*/

.widget-area {

    .widget {

        padding-bottom: em-calc( 20 );

        ul {
            list-style: none;
            margin: 0;
        }

    }

}

/*--------------------------------------------------------------
6.0 Footer
--------------------------------------------------------------*/

.footer-area {

    background: $dark-grey;
    padding: em-calc( 30 ) 0;

    h2 {
        color: #fff;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #666;
    }

}

.info-area {

    background: #222;

    .site-info {

        p {
            margin: em-calc( 20 ) 0;
            color: #fff;
        }

    }

}

/*--------------------------------------------------------------
7.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
8.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

/*--------------------------------------------------------------
9.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
10.0 Admin Bar Off Canvas Menu Compatibility
--------------------------------------------------------------*/

/*
 * Offset the Top Bar Menu in line with the size change of the WP Admin Bar
 * Currently WP Admin Bar breakpoint 780px
 */

body.admin-bar {
    //padding-top: 46px;

    #wpadminbar {
        position: fixed;
    }

    .contain-to-grid.fixed {
        margin-top: 46px;
    }

}
@media ( min-width: 780px ) {

    body.admin-bar {
        //padding-top: 32px;

        .contain-to-grid.fixed {
            margin-top: 32px;
        }

    }

}
