/*--------------------------------------------------------------
1.0 Footer
--------------------------------------------------------------*/

.footer-area {

    background: $grey;
    padding: em-calc( 30 ) 0 em-calc( 10 ) 0;
    color: $aluminum;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-weight: normal;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

}

.info-area {

    background: #222;

    .site-info {

        p {
            margin: em-calc( 20 ) 0;
            color: $charcoal;
        }

    }

}