/*--------------------------------------------------------------
1.0 Headings
--------------------------------------------------------------*/

.content-area {

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        color: $charcoal;
    }
    h1 {
        font-size: rem-calc(36);
    }
    h2 {
        font-size: rem-calc(32);
    }
    h3 {
        font-size: rem-calc(28);
    }
    h4 {
        font-size: rem-calc(24);
    }
    h5 {
        font-size: rem-calc(20);
    }
    h6 {
        font-size: 1rem;
    }

}

.widget-area {

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        color: $charcoal;
    }
    h1 {
        font-size: rem-calc(36);
    }
    h2 {
        font-size: rem-calc(32);
    }
    h3 {
        font-size: rem-calc(28);
    }
    h4 {
        font-size: rem-calc(24);
    }
    h5 {
        font-size: rem-calc(20);
    }
    h6 {
        font-size: 1rem;
    }

}

.footer-area {

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-weight: normal;
    }
    h1 {
        font-size: rem-calc(36);
    }
    h2 {
        font-size: rem-calc(32);
    }
    h3 {
        font-size: rem-calc(28);
    }
    h4 {
        font-size: rem-calc(24);
    }
    h5 {
        font-size: rem-calc(20);
    }
    h6 {
        font-size: 1rem;
    }

}