/*--------------------------------------------------------------
1.0 Headings
--------------------------------------------------------------*/

.content-area {

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h1 {
        font-size: rem-calc(24);
    }
    h2 {
        font-size: rem-calc(22);
    }
    h3 {
        font-size: rem-calc(20);
    }
    h4 {
        font-size: rem-calc(18);
    }
    h5 {
        font-size: rem-calc(16);
    }
    h6 {
        font-size: 1rem;
    }

}

.widget-area {

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h1 {
        font-size: rem-calc(24);
    }
    h2 {
        font-size: rem-calc(22);
    }
    h3 {
        font-size: rem-calc(20);
    }
    h4 {
        font-size: rem-calc(18);
    }
    h5 {
        font-size: rem-calc(16);
    }
    h6 {
        font-size: 1rem;
    }

}

.footer-area {

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-weight: bold;
    }
    h1 {
        font-size: rem-calc(22);
    }
    h2 {
        font-size: rem-calc(21);
    }
    h3 {
        font-size: rem-calc(20);
    }
    h4 {
        font-size: rem-calc(19);
    }
    h5 {
        font-size: rem-calc(17);
    }
    h6 {
        font-size: 1rem;
    }

}