/*--------------------------------------------------------------
1.0 Posts
--------------------------------------------------------------*/

.page-header {
    margin-bottom: rem-calc( 20 );
}

article.type-post,
article.type-page {

    position: relative;

    .edit-link i {
        margin-right: rem-calc( 6 );
        color: $monsoon;
    }

}

article.type-post,
article.type-page,
article.type-attachment {

    padding: em-calc( 20 ) 0;

    .entry-thumbnail {
        border: 1px solid $gainsboro;
        border-bottom: none;
    }

    .entry-image {
        margin-top: em-calc( 10 );
        margin-bottom: em-calc( 20 );
    }

    .entry-inner {
        border: 1px solid $gainsboro;
        padding: em-calc( 18 );
        background: #fff;

        &.with {
            border-top: none;
        }
    }

    .entry-header {

        margin-bottom: rem-calc( 20 );

        .entry-title {
            margin: 0;
            word-wrap: break-word;

            a {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
            }
        }

        .entry-meta {
            font-size: rem-calc( 14 );
        }

    }

    .entry-content {
        margin: em-calc( 20 ) 0;
        word-wrap: break-word;
    }

    .entry-footer {

        font-size: rem-calc( 14 );
        margin-bottom: em-calc( 8 );

        span {

            margin-right: em-calc( 8 );

            i.fa {
                margin-right: em-calc( 2 );
            }

            i.fa-comments,
            i.fa-cog {
                margin-right: rem-calc( 6 );
            }

            i {
                color: $monsoon;
            }

        }

    }

    &:first-of-type {
        padding-top: 0;
        border-top: 0;
    }

}

.navigation.post-navigation,
.navigation.paging-navigation {

    margin-bottom: em-calc( 20 );
    overflow: hidden;

    .nav-previous,
    .nav-next {
        width: 50%;
    }

    .nav-previous {
        float: left;
        text-align: left;
    }

    .nav-next {
        float: right;
        text-align: right;
    }

}

.navigation.paging-navigation {
    padding-top: em-calc( 20 );
}