/*--------------------------------------------------------------
1.0 Sidebar
--------------------------------------------------------------*/

.widget-area {

    .widget {

        .widget-title {
            color: $charcoal;
        }

        margin-bottom: em-calc( 20 );
        border: 1px solid $gainsboro;
        background: #fff;
        padding: rem-calc( 20 );

        ul {
            list-style: none;
            margin: 0;
        }

    }

}

/*--------------------------------------------------------------
2.0 Search Widget
--------------------------------------------------------------*/

.widget.widget_search input {
    margin-bottom: 0;
}