/*--------------------------------------------------------------
1.0 WordPress Specific Styles
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
2.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

/*--------------------------------------------------------------
3.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
4.0 Admin Bar Foundation Compatibility
--------------------------------------------------------------*/

/*
 * Offset the Top Bar Fixed Menu in line with the size change of the WP Admin Bar
 * Currently WP Admin Bar breakpoint 780px
 */
$wp_admin_bar_small: 46px; // Height on Small screens
$wp_admin_bar_large: 32px; // Height on Large screens
$wp_admin_bar_breakpoint: 782px; // Media Breakpoint

body.admin-bar {

    // Start - Top Bar
    padding-top: 46px;

    #wpadminbar {
        position: fixed;
    }

    .fixed {
        margin-top: 46px;
    }

    .fixed + div {
        margin-top: $topbar-height;
    }

    .fixed.expanded {
        margin-top: 0;
    }
    // End - Top Bar

    // Start - Clearing Gallery
    .clearing-blackout {
        padding-top: $wp_admin_bar_small;
    }
    // End - Clearing Gallery

}
@media ( min-width: $wp_admin_bar_breakpoint ) {

    body.admin-bar {

        // Start - Top Bar
        padding-top: 32px;


        .fixed {
            margin-top: 32px;
        }

        .fixed + div {
            margin-top: $topbar-height;
        }
        // End - Top Bar

        // Clearing Gallery
        .clearing-blackout {
            padding-top: $wp_admin_bar_large;
        }

    }

}